.footer {
  display: inline-block;
  display: flex;
  gap: 50px;
  width: 100%;
  background: #30303a;

  &__container {
    display: flex;
  }

  &__section {
    width: auto;
    display: inline-block;
    padding: auto;
    margin: auto;
  }

  &__link {
    color: white;
    &:hover {
      color: #03a9f4;
    }
  }

  &__info {
    color: #757575;
    font-weight: 500;
    line-height: 16px;
  }

  /*Section 2*/
  &__title {
    width: auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

  /*Section 3*/
  &__form {
    width: 550px;
    max-width: 100%; /* Cambio aquí: establece un máximo del 100% del ancho */
    display: inline-block;
    margin: auto;
  }

  &__label {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
  }

  &__display {
    width: 500;
    display: flex;
  }

  &__input {
    max-width: 330px;
    width: 100%; /* Cambio aquí: establece un ancho del 100% */
    height: 50px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid #ffffff1a;
    border-radius: 4px;
    padding-left: 15px;
    margin-right: 20px;
    margin-top: 10px;
  }

  &__bottomicon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    &__container {
      flex-direction: column;
      margin: 30px auto;
    }

    &__section {
      text-align: center;
    }

    &__form {
      padding: 0;
      text-align: center;
      max-width: 320px;
    }

    &__input {
      min-width: 200px;
      display: flex;
      margin: auto;
    }

    &__display {
      min-width: 320px;
      display: block;
      text-align: center;
      margin: 0;
    }

    &__title {
      text-align: center;
    }
  }
}

.salto {
  white-space: pre-line;
}
