/*//////////////////////////////////////////////////////
Inicio Menu*/
.menu {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;

  &__link {
    position: relative;
    display: inline-block;
    color: #212121;
    &:hover {
      cursor: pointer;
      color: $color-primary;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  &__current {
    color: $color-primary;
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $color-primary;
      border-radius: 2px;
      bottom: -24px;
    }
  }

  &__icon-email,
  &__icon-telephone {
    width: 15px;
    height: 15px;
    cursor: pointer;
    &:hover {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  &__contact {
    width: 15px;
    height: 15px;
    color: #757575;
    fill: #757575;
    &:hover {
      color: $color-primary;
      fill: $color-primary;
    }
  }
}

.mobile{
  &__menu {
    padding: 0;
    margin-bottom: 100px;
    list-style: none;
  }

  &__link {
    font-size: 30px;
    display: block;
    padding: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  &__current{
    font-size: 30px;
    color: $color-primary;
    font-weight: bold;
  }

  &__cont-contact{
    margin-bottom:20px;
  }

  &__contact1{
    font-size: 30px;
    color:$color-primary;
    padding: 10px;
    margin-bottom: 4px;
    font-weight: bold;
  }

  &__contact2{
    font-size: 30px;
    color:#757575;
    padding: 20px;
    margin-bottom: 4px;
  }

  &__social{
    padding: 20px;
    margin-top: 40px;
  }

  &__link-social{
    font-size: 20px;
    color: $color-primary;
  }

  &__linea{
    color:#757575;
    font-size: 150%;
  }
}

/*Inicio HEADER*/
.header {
  &__title {
    color: rgb(255, 255, 255);
    height: auto;
    background: rgba(47, 48, 58, 0.4);
    padding: 32px 118px;
    background-image: url(../images/desktop/img-título-desktop-1600.jpg);
    background-repeat: no-repeat;
    background-size: 100% 46.5%;
    text-align: center;
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: 480px) {
    &__title {
      display: grid;
      justify-content: center;
      background-image: url(../images/movil/img-título-movil-480.jpg);
    }

    &__h1 {
      font-size: 20px;
      line-height: 2;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    &__title {
      display: grid;
      padding: 100px 200px;
      justify-content: center;
      background-image: url(../images/tablet/img-título-tablet-768.jpg);
    }
    
    &__h1 {
      font-size: 20px;
      display: flex;
      justify-content: center;
      line-height: 3;
    }
  }
}

// maximo hasta 768px oculta el menu largo
@media (max-width: 768px) {
  .menu2 {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

// minimo hasta 768px oculta el icono movil
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}
// 480px 768px  1200px
